Checks: >
    -*,
    boost-*,
    bugprone-*,
    cert-*,
    clang-analyzer-*
    clang-diagnostic-*,
    cppcoreguidelines-*,
        -cppcoreguidelines-owning-memory,
    fuchsia-*,
    google-*,
    hicpp-*,
    misc-*,
    modernize-*,
        -modernize-use-trailing-return-type,
    performance-*,
    portability-*,
    readability-*,
        -readability-implicit-bool-conversion
WarningsAsErrors: false
FormatStyle: google
