Checks: >
    -*,
    boost-*,
    bugprone-*,
    cert-*,
    clang-analyzer-*
    clang-diagnostic-*,
    cppcoreguidelines-*,
        -cppcoreguidelines-owning-memory,
        -cppcoreguidelines-avoid-magic-numbers,
    fuchsia-*,
        -fuchsia-default-arguments-calls,
    google-*,
    hicpp-*,
    misc-*,
    modernize-*,
        -modernize-use-trailing-return-type,
        -modernize-use-using,
    performance-*,
    portability-*,
    readability-*,
        -readability-implicit-bool-conversion
WarningsAsErrors: false
FormatStyle: google
